// Import Vuetify styling
@require '~vuetify/src/stylus/main.styl'
@require 'colors.styl'

.page
  @extend .fade-transition


h2 > a
  color inherit
  text-decoration none
  &:hover
    text-decoration underline

.v-btn__content
  text-transform none

body *
  font-family Source Sans Pro

.hidden
  display none !important

@media only screen and (max-width: 959px)
  .container
    padding 5px
